---
---
.container {
  header {

  }
  .main {
    .grid {
      padding: 0;
      margin: 0 auto;
      .grid-item {
        //list-style: none;
        width: 320px;
        img {
          width: 100%;
        }
      }
    }
  }
}
